In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('iris.csv')
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
data=data.rename(
    columns={
        'sepal.length':'sl',
        'sepal.width':'sw',
        'petal.length':'pl',
        'petal.width':'pw'
    }
)

In [4]:
print(data.columns)

Index(['sl', 'sw', 'pl', 'pw', 'variety'], dtype='object')

In [5]:
data.dtypes

sl         float64
sw         float64
pl         float64
pw         float64
variety     object
dtype: object

In [7]:
data.describe()

               sl          sw          pl          pw
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
data.isnull().sum()

sl         0
sw         0
pl         0
pw         0
variety    0
dtype: int64

In [9]:
data['variety'].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [10]:
data[data['variety']=='Setosa']['sl'].describe()

count    50.00000
mean      5.00600
std       0.35249
min       4.30000
25%       4.80000
50%       5.00000
75%       5.20000
max       5.80000
Name: sl, dtype: float64

In [11]:
data['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [12]:
data[data['variety']=='Versicolor']['pw'].describe()

count    50.000000
mean      1.326000
std       0.197753
min       1.000000
25%       1.200000
50%       1.300000
75%       1.500000
max       1.800000
Name: pw, dtype: float64

In [13]:
data[data['variety']=='Virginica']['pl'].describe()

count    50.000000
mean      5.552000
std       0.551895
min       4.500000
25%       5.100000
50%       5.550000
75%       5.875000
max       6.900000
Name: pl, dtype: float64

For nba Dataset

In [52]:
df=pd.read_csv('nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [53]:
data.shape

(150, 5)

In [54]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [55]:
df['College']=df['College'].ffill()
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

In [56]:
df.isnull().sum()

Name        1
Team        1
Number      1
Position    1
Age         1
Height      1
Weight      1
College     0
Salary      0
dtype: int64

In [57]:
df.dropna(inplace=True)

In [58]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [59]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Georgia State,5.000000e+06

In [60]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.570000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.165781e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.100602e+06
50%     13.000000   26.000000  220.000000  2.869440e+06
75%     25.000000   30.000000  240.000000  6.331404e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [61]:
df['Team'].unique()

array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
       'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
       'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
       'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
       'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
       'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz'],
      dtype=object)

In [63]:
df[df['Team']=='Boston Celtics']['Salary'].describe()

count    1.500000e+01
mean     4.225583e+06
std      3.036396e+06
min      1.148640e+06
25%      1.994760e+06
50%      3.425510e+06
75%      5.898058e+06
max      1.200000e+07
Name: Salary, dtype: float64

In [64]:
age_salary=df[['Age','Salary']]
age_salary.head()

    Age        Salary
0  25.0  7.730337e+06
1  25.0  6.796117e+06
2  27.0  4.842684e+06
3  22.0  1.148640e+06
4  29.0  5.000000e+06

In [66]:
print(age_salary.min())
print(age_salary.max())

Age          19.0
Salary    30888.0
dtype: float64
Age             40.0
Salary    25000000.0
dtype: float64

In [69]:
bins=[19,25,31,36,40]
labels=['19-24','25-30','31-35','36-40']
age_salary['AgeGroup']=pd.cut(age_salary['Age'],bins=bins,labels=labels,include_lowest=True)

<ipython-input-69-5e7ee1efcebc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_salary['AgeGroup']=pd.cut(age_salary['Age'],bins=bins,labels=labels,include_lowest=True)

In [70]:
age_salary.head()

    Age        Salary AgeGroup
0  25.0  7.730337e+06    19-24
1  25.0  6.796117e+06    19-24
2  27.0  4.842684e+06    25-30
3  22.0  1.148640e+06    19-24
4  29.0  5.000000e+06    25-30

In [73]:
age_salary['AgeGroup'].value_counts()

AgeGroup
19-24    199
25-30    189
31-35     56
36-40     13
Name: count, dtype: int64

In [74]:
age_groups=age_salary.groupby('AgeGroup')

<ipython-input-74-90e5fea51371>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_groups=age_salary.groupby('AgeGroup')

In [75]:
age_groups['Salary'].describe()

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
19-24,199.0,3.030670e+06,3.536368e+06,30888.0,947276.00,1.709719e+06,3495566.5,16407501.0
25-30,189.0,6.635459e+06,5.825556e+06,55722.0,1500000.00,4.842684e+06,10151612.0,22970500.0
31-35,56.0,5.113016e+06,5.283815e+06,200600.0,1323709.25,3.646250e+06,6350000.0,22875000.0
36-40,13.0,5.351744e+06,6.508388e+06,222888.0,947726.00,4.088019e+06,5250000.0,25000000.0